*{
	font-family: 'poppins', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	border: none;
	text-decoration: none;

}
:root{
   --bg-color:#000;
   --snd-bg-color:#111;
   --text-color:#fff;
   --main-color:#45ffca;
}

body{
   background: var(--bg-color);
   color: var(--text-color);
}


.container{

	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
	padding-bottom: 60px;

}

.container .content{
	text-align: center;
   background: var(--bg-color);

}

.container .content h3{
	font-size: 30px;
	color: var(--text-color);

}
.container .content h3 span{

background: #45ffca;
color: #fff;
border-radius: 5px;
padding: 0 15px;

}


.container .content h1{
	font-size: 30px;
	

}
.container .content h1 span{
	color: var(--main-color);
}

.container .content p{

	font-size: 25px;
	margin-bottom: 20px;
}

.container .content .btn{
display: inline-block;
padding: 10px 30px;
background: #333;
color: #fff;
margin: 0 5px;
text-transform: capitalize;
transition: all 0.5 ease;
}


.container .content .btn:hover{
	background: var(--main-color);
   color: var(--text-color);
   box-shadow: 0 0 18px var(--main-color);
}


.form-container{
   min-height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   padding:20px;
   padding-bottom: 60px;
   background: var(--bg-color);
}

.form-container form{
   padding:20px;
   border-radius: 5px;
   box-shadow:0 0 18px var(--main-color);
   background: var(--bg-color);
   text-align: center;
   width: 500px;
}

.form-container form h3{
   font-size: 30px;
   text-transform: uppercase;
   margin-bottom: 10px;
   color: var(--text-color);
}

.form-container form input,
.form-container form select{
   width: 100%;
   padding:10px 15px;
   font-size: 17px;
   margin:8px 0;
   background: #eee;
   border-radius: 5px;
}

.form-container form select option{
   background: #fff;
}

.form-container form .form-btn{
      color:var(--main-color);
   text-transform: capitalize;
   font-size: 20px;
   cursor: pointer;
   background: transparent;
   border: 2px solid var(--main-color);
   transition: all 0.5 ease;
}

.form-container form .form-btn:hover{
   background: var(--main-color);
   color:var(--text-color);
   box-shadow: 0 0 18px var(--main-color);
}

.form-container form p{
   margin-top: 10px;
   font-size: 20px;
   color:#333;
}

.form-container form p a{
   color:var(--main-color);
}

.form-container form .error-msg{
   margin:10px 0;
   display: block;
   background: crimson;
   color:#fff;
   border-radius: 5px;
   font-size: 20px;
   padding:10px;
}



